$PKGLINE
import acm.graphics.*;
import acm.program.*;
import acm.gui.*; 
import acm.util.*; 
import acm.io.*;
import java.awt.*;

/** Este código utiliza a <a href="http://jtf.acm.org/index.html">
 * biblioteca ACM Java Task Force</a> para a qual existe
 * <a href="http://jtf.acm.org/javadoc/student/index.html">esta documentação</a>.
 * <p>
 * Esta classe é um exemplo de um "ConsoleProgram"
 * ou seja, um programa com uma interface de texto.
 * <p>
 * Este template para o BlueJ foi criado na 
 * Escola Superior de Tecnologia e Gestão do
 * Instituto Politécnico de Beja, por Joao Paulo Barros,
 * em 2003/03/23
 * Esta é a versão de 2008/09/28.
 * <hr>
 * @author (o seu nome) 
 * @version (número de versão ou data) 
 */
 // Deve escrever o código utilizando a língua inglesa
 
public class $CLASSNAME extends ConsoleProgram 
{
    /** É aqui que os objectos da classe $CLASSNAME 
     *  começam realmente a fazer coisas. 
     *  Coloque o seu código entre as chavetas.
     */    
    public void run() 
    {
        //***************************************************
        // Substitua o seguinte código pelo seu
        // Este código pede o objecto da classe $CLASSNAME para
        // escrever na sua janela o texto entre aspas
        //***************************************************        
        this.println("IPB-ESTIG");
        //***************************************************        
    }
} 

